---
import socialLinksData from "@shared/data/SocialLinksData.json";
console.log(socialLinksData);
---

<div class="social-icons flex items-center gap-4">
  {
    socialLinksData.map(({ label, icon, link }) => (
      <div class="flex flex-col relative items-center justify-center group">
        <iconify-icon icon={icon} width="24" height="24" />
        <span class="hidden absolute top-10 group-hover:block bg-secondary text-primary rounded-sm p-1 transition-all transition-discrete">{label}</span>
      </div>
    ))
  }
</div>
