@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary: #ffffff;
    --color-secondary: #111827;
    --color-button-primary: #030712;
}
.dark{
    --color-primary: #030712;
    --color-secondary: #f9fafb;
    --color-button-primary: #f1f1f1;
}

body{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}